<div class="card">
  <%= link_to image_tag(memo.image, class: :card__img ), root_path%>
  <div class="card__body">
    <%= link_to "タイトル", root_path, class: :card__title%>
    <p class="card__summary">
      <%= "プロトタイプのキャッチコピー" %>
    </p>
    <%= link_to "カテゴリー名", root_path, class: :card__user %>
  </div>
</div>